<header>
<nav class="barraNavegacao">
    <ul class="linksNavegação">
      <li><a href="/listaAtividades" class="active">Minhas atividades</a></li>
      <li><a href="/listaCategorias">Categorias</a></li>
      <li><a href="/perfil">Perfil</a></li>
    </ul>
  </nav>
  <div class="app-name">SmartTasks</div>
</header>

 <!---->
