<div>
    <h2>Categorias</h2>

    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody id="categorias"></tbody>
    </table>

    <script>

        window.addEventListener('load',async() => {
            
        });

    </script>

</div>