<div>
    <form action="/category" method="post">
        <label for="titulo_categoria">Título:</label>
        <input type="titulo_categoria" name="titulo_categoria" id="titulo_categoria" required>
        <br>
        <label for="descricao">Descrição:</label>
        <input type="descricao" name="descricao" id="descricao" required>
        <br><br>
        <button type="submit">Adicionar</button>
    </form>
    <p><a href="/categorias">Voltar</a></p>

</div>