<div class="containerCriarAtv">
    <body>
        <div class="container">
            <h1>📋 Adicionar uma nova atividade</h1>
        </div>
        <br>

        <div>
            <form action="/task" method="POST" class="adicionarAtividade">

                <input type="título" name="título" id="título" placeholder="título" required>
                <br>
                <input type="descricao" name="descricao" id="descricao" placeholder="descrição" required>
                <br>
                <input type="date" name="prazo" id="prazo" required>
                <br>
                <select name="prioridade" id="prioridade" required>
                    <option value="N/A">prioridade</option>
                    <option value="alta">alta</option>
                    <option value="média">média</option>
                    <option value="Baixa">Baixa</option>
                </select>
                <br>
                <select name="concluido" id="concluido" required>
                    <option value="N/A">status</option>
                    <option value="⚪ A fazer">a fazer</option>
                    <option value="🟡 Em andamento">em andamento</option>
                    <option value="🟢 Concluído">concluído</option>
                </select>
                <br><br>
                <button class="btAdicionar" type="submit">Adicionar</button>
            </form>
            <a href="/listaAtividades">
                <button class="btVoltar"
                    style="background-color: #a78bfa; color: white; border: none; padding: 12px 20px; font-size: 16px;border-radius: 8px;cursor: pointer;width: 100%; transition: background-color 0.2s ease;">Voltar</button>
        </div>
</div>