<div class="containerCriarAtv">
    <body>

        <br>

        <div>
            <form action="/task" method="POST" class="adicionarAtividade">

                <input type="título" name="título" id="título" placeholder="título" required>
                <br>
                <input type="descricao" name="descricao" id="descricao" placeholder="descrição" required>
                <br>
                <input type="date" name="prazo" id="prazo" required>
                <br>
                <select name="prioridade" id="prioridade" required>
                    <option value="N/A">prioridade</option>
                    <option value="alta">alta</option>
                    <option value="média">média</option>
                    <option value="Baixa">Baixa</option>
                </select>
                <br>
                <select name="concluido" id="concluido" required>
                    <option value="N/A">status</option>
                    <option value="⚪ A fazer">a fazer</option>
                    <option value="🟡 Em andamento">em andamento</option>
                    <option value="🟢 Concluído">concluído</option>
                </select>
                <br><br>
                <button class="btAdicionar" type="submit">Adicionar</button>
            </form>
        </div>
</div>