<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>  
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <!-- Inclui o cabeçalho como um partial -->
  <%- include('../components/header') %>

  <main>
    <!-- Renderiza o conteúdo da página específica -->
    <%- include(content) %>
  </main>

  <footer>
    <!-- Rodapé comum aqui -->

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h3>atalhos de navegabilidade</h3>
    <p><a href="/cadastro">Cadastro</a></p>
    <p><a href="/login">login</a></p>
    <p><a href="/perfil">perfil</a></p>
    <p><a href="/listaAtividades">Atividades</a></p>
    <p><a href="/novaAtividade">nova atividade</a></p>

  </footer>

  <!-- Adicione scripts JS se necessário -->
  <script src="/js/script.js"></script>
  
</body>
</html>
